.page-content {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.container {
    min-height: calc(100% - 40px);
    width: calc(100% - 40px);
    background-color: white;
    margin: 20px;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container:hover {
    box-shadow: 0 8px 16px 5px rgba(0,0,0,0.2);
}

.account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-button {
    margin-left: 25px;
    justify-self: end;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    background-color: #ff6363;
    padding: 4px 8px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.projects-button:hover {
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.account-info-field {
    display: flex;
    align-items: baseline;
}

.account-info-field h3 {
    margin-right: 10px;
    font-size: 24px;
}

.profile-picture{
    max-width: 200px;
    max-height:200px;
    margin: 20px auto;
    border-radius: 50%;
}

.update-button {
    text-decoration: none;
    margin-top: 40px;
    width: 70%;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    color: white;
    background-color: #ff6363;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.update-button:hover {
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.teams-tasks {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.team-preview {
    border: 3px solid #ff6363;
    margin: 5px 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.team-preview h3 {
    margin: 5px 10px;
}

.team-preview a {
    text-decoration: none;
    background-color: #ff6363;
    color: white;
    height: 100%;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.team-preview a:hover {
    background-color: #ff6363;
    color: white;
    font-size: 2em;
}

.team-preview i {
    font-size: inherit;
}