/* Projects app */
.card-project {
    max-width: 18rem;
    min-width: 18rem;
    margin: 2rem;
}

.card-body-feature {
	flex: 1 1 auto;
    min-height: 1px;
    padding: 0.15rem;
  	color: $card-color;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    border: 1px solid transparent;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

