{% load static %}

<div class="container projects">
    <div class="header">
        <h1>Projects</h1>
    </div>
    <div class="list">
        {% if projects %}
        {% for project in projects %}
        <div class="preview">
            <div>
                <h4>Project: {{project.name}}</h4>
                <h5>Team: {{project.project_team}}</h5>
            </div>
            <a href="{% url 'projects_detail' project.id %}"><i class="fas fa-users-cog"></i></a>
        </div>
        {% endfor%}
        {% else %}
        <div class="preview">
            <h3>You have no active projects</h3>
            <a href="{% url 'projects_new' %}"><i class="fas fa-plus-circle"></i></a>
        </div>
        {% endif %}
    </div>
</div>