{% extends "index.html" %}
{% load static %}

{% block title %}
    <title>Teams</title>
{% endblock %}


{% block styling %}
    <!-- Any styling needed for this template would go here -->
    <link rel="stylesheet" href="{% static 'CSS/test.css' %}">
{% endblock %}


<!-- Main content of template goes here -->
{% block content %}
    <div >
        <div class="form-title-container">
            <h1 class="form-logo">My Team <i class="fas fa-tasks"></i></h1>
            <hr class="form-logo">
            <p>Test Page for Future Teams Landing page</p>
        </div>
    
        <!--each team will have its own page-->

    </div>
{% endblock %}



{% block javascript %}
    <!-- Any javascript needed for this template would go here -->
    <script src="{% static 'javascript/test.js' %}"></script>
{% endblock %}