{% extends "index.html" %}
{% load static %}

{% block title %}
<title>Features</title>
{% endblock %}


{% block styling %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/features.css' %}">
{% endblock %}


<!-- Main content of template goes here -->
{% block content %}
<div>
    <div class="form-title-container">
        <h1>Features <span class="fas fa-tasks"></span></h1>
        <hr>
    </div>

    <div class="container">
        <div class="d-flex flex-wrap">
            {% for feature in feature_data %}
            <div class="card card-project">
                <div class="card-header">
                    <h5 class="card-title">{{ feature.title }}</h5>
                    <span class="badge badge-info">{{ feature.get_status_display }}</span>
                </div>
                <div class="card-body">
                    <p class="card-text">Name:</p>
                    <p class="card-text">{{ feature.name }}</p>
                    <p class="card-text">Description:</p>
                    <p class="card-text">{{ feature.description }}</p>
                    <p class="text-muted"><strong>Due: </strong>{{ feature.due_date }}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="/projects/feature/{{ feature.id }}" class="btn btn-link float-right">Manage Feature &#8594;</a>
                </div>
            </div>
            {% endfor %}
            <div class="card card-project">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <a href="/projects/feature/new" class="btn btn-primary btn-large">+ New Feature</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}



{% block javascript %}
    <!-- Any javascript needed for this template would go here -->
    <script src="{% static 'javascript/test.js' %}"></script>
{% endblock %}