{% extends "index.html" %}
{% load static %}

{% block title %}
    <title>Projects</title>
{% endblock %}


{% block styling %}
    <!-- Any styling needed for this template would go here -->
    <link rel="stylesheet" href="{% static 'CSS/test.css' %}">
{% endblock %}


<!-- Main content of template goes here -->
{% block content %}
    <div >
        <div class="form-title-container">
            <h1 class="form-logo">Active Projects <i class="fas fa-tasks"></i></h1>
            <hr class="form-logo">
        </div>
        {% for project in project_data %}
            <li>{{ project.name}}</li>
            <li>{{ project.description}}</li>
            <li>{{ project.start_date}}</li>
            <li>{{ project.due_date}}</li>
            <li>{{ project.budget}}</li>
            {% if project.status == 0 %}
                <li>NOT STARTED</li>
            {% elif project.status == 10 %}
                <li>IN PROGRESS</li>
            {% elif project.status == 20 %}
                <li>UNDER REVIEW</li>
            {% elif project.status == 30 %}
                <li>COMPLETED</li>
            {% else %}
                <li>STALLED</li>
            {% endif %}
            <li>Features:</li>
            {% for feature in feature_data %}
                {% if project.id == feature.project.id %}
                    <li>{{ feature.title}}</li>
                {% endif %}
            {% endfor %}
            <br></br>
        {% endfor %}
        <!--each project will have its own page-->

    </div>
{% endblock %}



{% block javascript %}
    <!-- Any javascript needed for this template would go here -->
    <script src="{% static 'javascript/test.js' %}"></script>
{% endblock %}