{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">SuperTasks&trade;</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>

            {# Spaceholder for future feature #}
            {% comment %} 
            <li class="nav-item">
                <a class="nav-link" href="#">Favorites</a>
            </li> 
            {% endcomment %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'team_dashboard'%}">Teams</a>
            </li> 
            {# This will be a dropdown list once individual team views are added to SuperTasks #}
            {% comment %} 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Teams
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'team_view' %}">Member 1</a>
                    <a class="dropdown-item" href="#">Member 2</a>
                    <a class="dropdown-item" href="#">Member 3</a>
                </div>
            </li> 
            {% endcomment %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'projects'%}">Projects</a>
            </li> 
            {# These will be a dropdown list once individual project views are added to SuperTasks #}
            {% comment %}
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Projects
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Project 1</a>
                    <a class="dropdown-item" href="#">Project 2</a>
                    <a class="dropdown-item" href="#">Project 3</a>
                </div>
            </li> 
            {% endcomment %}

            {# Space holder for future messenging feature between teams #}
            {% comment %} 
            <li class="nav-item">
                <a class="nav-link" href="#">Inbox</a>
            </li> 
            {% endcomment %}

            {# This logic can be similarly used to display login/logout links based on if the user is authenticated #}
            <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="nav-link">
                <span> {{ user.get_username }} </span>
                {% else %}
                <a class="nav-link" href="/accounts/login">
                <span>&emsp;&emsp;&emsp;</span>
                {% endif %}</a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout' %}">Logout
                {% else %}
                    <a class="nav-link" href="/accounts/login">Login
                {% endif %}</a>
            </li>
        </ul>
        
    </div> 
</nav>